// ALL STYLING FOR EVENTS/SHOW
.events-show {
  .events-show-top {
    display: flex;
    justify-content: space-between;
    color: $primary-text;
    width: 100%;
    // height: 300px;
    .map-container {
      height: auto;
      width: 40%;
      #map {
        height: 100%;
        width: 100%;
      }
    }
    .events-show-info {
      width: 100%;
      min-height: 100%;
      display: flex;
      align-items: center;
      .events-show-info-key {
        width: 30%;
        padding-left: 2%;
      }
      .events-show-info-value {
        width: 70%;
        padding: 10px;
      }
    }
  }
  .events-show-middle {
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-top: 10px;
    width: 100%;
    .events-show-attending {
      text-align: center;
      vertical-align: middle;
      // color: black;
      // line-height: 56px;
      // width: 18%;
      // height: 80%;
      // margin: 7px 0 7px 7px;
      // font-size: 30px;
      // font-weight: 900;
    }
    .events-show-attendee {
      text-align: center;
      vertical-align: middle;
      color: $primary-text;
      // line-height: 56px;
      // width: 18%;
      // height: 80%;
      // margin: 7px 7px 7px 0;
      // font-size: 30px;
      // font-weight: 900;
    }
  }
  .events-show-about {
    color: $primary-text;
    padding: 7px;
  }
}
.events-show-attendees {
  // background-color: plum;
  .events-show-attendee-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .events-show-attendee {
    display: inline-block;
    margin: 5px 5px 5px 5px;
    background-color: rgba(0,0,0,0.2);
    width: 70px;
    text-align: center;
  }
}
// ALL STYLING FOR EVENTS/INDEX
.events-index {
  .events-index-filters {
    display: flex;
    justify-content: space-between;
    height: 5%;
    // background-color: tomato;
    padding: 30px;
    font-size: 30px;
    color: $primary-text;
  }
  .events-index-event-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .events-index-event {
      width: 50%;
      outline: 2px solid; /* use instead of border */
      padding: 30px;
      font-size: 30px;
      color: $primary-text;
    }
    a
    {
      color: $primary-text;
    }
  }
}
.display-none {
  display: none;
}
