.events-new,
.events-edit
{
  color: $primary-text;
  margin: 0 auto;
  padding: 50px 0;
  width: 60%;
}

.events-new input[type=datetime-local],
.events-new input[type=text],
.events-edit input[type=datetime-local],
.events-edit input[type=text]
{
  background-color: $form-input-background;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: $form-inputs;
  font-size: 16px;
  margin: 8px 0;
  padding: 12px 10px;
  width: 100%;
}

textarea
{
  background-color: $form-input-background;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: $form-inputs;
  font-size: 16px;
  min-height: 100px;
  margin: 8px 0;
  overflow-y: auto;
  padding: 12px 10px;
  width: 100%;
}

.events_new,
.events_edit
{
  padding: 20px 30px;
  width: 60%;
}

// Might need this for later
// .form_container
// {
//   width: 100%;
//
//   .form_group_input,
//   .form_group_date
//   {
//     display: inline-block;
//     margin: 10px 0;
//     width: 49%;
//   }
//
//   .form_group_select
//   {
//     display: inline-block;
//     margin: 10px 0;
//     text-align: center;
//     width: 49%;
//   }
//
//   .form_group
//   {
//     margin: 10px 0;
//   }
//
//   .btn_submit
//   {
//     color: black;
//   }
//
//   input[type=text],
//   textarea
//   {
//     width: 100%;
//   }
//
//   input[type=datetime-local]
//   {
//     text-align: center;
//     width: 100%;
//   }
// }