// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 95%;
  width: 80%;
  margin: 0 auto;
}

.pages-index-map-container {
  padding-top: 20px;
  height: 80vh;
  background-color: $map-background;
}

.pages-index-map-container a {
  color: red;
}

.pages-index-container {
  background-color: $map-background;
}

.pages-index-filters {
  display: inline-block;
  select {
    margin-top: 10px;
  }
}

