.user-show-container {
  display: inline-block;
  width: 100%;
  color: $primary-text;
}

.user-show-container .left {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  width: 25%;
}

// .user-show-container .left .image {
//
// }

.user-show-container .right {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  width: 73%;
}

.user-show-container p {
  padding: 10px 0;
}

// .user-show-container a {
//   padding: 10px 0;
// }

// USERS INDEX STYLING
.users-list {
  width: 100%;
  display: inline-block;
}

.users-list .users-list-user {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  color: $primary-text;
  padding: 10px;
  font-size: 25px;
  padding: 20px;
}

.users-list .users-list-user .user-index-avatar {
  max-width: 80px;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}

.users-list .users-list-user .user-other-info {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}
