// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-new-page,
.users-edit-page {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
  color: $primary-text;
}

.users-new-page input[type=text],
.users-new-page input[type=password],
.users-edit-page input[type=text],
.users-edit-page input[type=password] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.users-new-page textarea,
.users-edit-page textarea {
  width: 100%;
  height: 150px;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 16px;
}

// .new-user {
//   color: black;
//   padding: 10px 20px;
// }

.update-profile {
  margin-top: 20px;
}

.category-section,
.avatar-upload {
  margin: 20px 0;
}
