<div class="sessions_new_page">
  <h1>Login</h1>

  <% if @errors %>

    <% @errors.each do |error| %>
      <p><%= error %></p>
    <% end %>

  <% end %>

  <%= form_tag '/sessions', method: 'post' do %>
    <div>Email: <input type="text" name="email"></div>

    <div>Password: <input type="password" name="password"></div>

    <button class="button" type="submit">Log in</button>

  <% end %>

</div>
