.events_new,
.events_edit
{
  padding: 20px 30px;
  width: 60%;
}

.form_container
{
  width: 100%;

  .form_group_input,
  .form_group_date
  {
    display: inline-block;
    margin: 10px 0;
    width: 49%;
  }

  .form_group_select
  {
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    width: 49%;
  }

  .form_group
  {
    margin: 10px 0;
  }
  
  .btn_submit
  {
    color: black;
  }

  input[type=text],
  textarea
  {
    width: 100%;
  }

  input[type=datetime-local]
  {
    text-align: center;
    width: 100%;
  }
}
