.user_show_container {
  background: gold;
  display: inline-block;
}

.user_show_container .left {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.user_show_container .right {
  width: 73%;
  display: inline-block;
  vertical-align: top;
}
