<div class="users-index">

  <div class="users-list">
    <% @users.each do |user| %>
    <div class="users-list-user">
      <div class="user-index-avatar">
        <img class="image" src="<%= user.avatar.url %>" alt="">
      </div>
      <div class="user-other-info">
        <a href="/users/<%= user.id %>" class="user-list-name"><%= user.username %></a>
        <p>Reputation: <%= user.reputation %></p>
      </div>
    </div>
    <% end %>

  </div>

</div>
