@import 'base';

// Main Layout
body
{
  background: mistyrose;
  height: 100vh;
}

// Text
.errors
{
  color: red;
}

// Header
header
{
  background: papayawhip;
}

.main_menu_container
{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 30px;
  width: 100%;

  .logo_container
  {
    width: 30%;
  }

  nav
  {
    display: flex;
    justify-content: space-around;
    width: 70%;

    .menu_links
    {
      margin: 0px 10px;

      &:hover
      {
        color: white;
        text-decoration: underline;
      }
    }

    .menu_right
    {
      display: flex;

      .user_profile
      {
        margin-right: 10px;

        &:hover
        {
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
}

// Main Content
.main
{
  margin: 0 auto;
}

// Header
footer
{
  background: aquamarine;
}
