<!-- about-container -->
<div class="about-container">
  <p>1337m337 or Leetmeet is a tool for connecting communities of gamers. We all know how easy it is to play games online these days but nothing matches the enjoyment of being in the same room with your teammates or opponents. Whether you're a seasoned pro or a noob just starting out, whether you're looking for a competetive team or just some friends to watch esports with, 1337m337 is a place where you can connect with others who care about the same games you do.</p>
</div>
<!-- end about-container -->