<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- pages-index-container -->
<div class="pages-index-container">
  <!-- pages-index-filters -->
  <div class="pages-index-filters">
    <span>Filter by game:</span>
    <select name="" class="game-filter">
        <option value="0">all</option>
      <% @games.each do |game| %>
        <option value="<%= game.id %>"> <%= game.name %> </option>
      <% end %>
    </select>
  <!-- <div class="pages_index_filters">
    <span>Filter by category:</span>
    <select name="" class="category_filter">
        <option value="all">all</option>
      <% @categories.each do |category| %>
        <option value="<%= category.name %>"> <%= category.name %> </option>
      <% end %>
    </select>
  </div> -->
  </div>
  <!-- end pages-index-filters -->
</div>
<!-- end pages-index-container -->

<!-- pages-index-map-container -->
<div class="pages-index-map-container">
  <div id="map"></div>
</div>
<!-- end pages-index-map-container -->

<script>
  var markers = [];
  var genInfo = function(obj) {
    var container = document.createElement("div");
    var title = document.createElement("h3")
    var titleText = document.createTextNode(obj.title);
    title.appendChild(titleText);
    var timeObj = new Date(obj.start_at)
    var date = document.createElement("p");
    var time = document.createElement("p");
    var dateText = document.createTextNode("Date: " +timeObj.toDateString())
    var timeText = document.createTextNode("Time: " +timeObj.toTimeString())
    date.appendChild(dateText);
    time.appendChild(timeText);
    var about = document.createElement("p");
    var aboutText = document.createTextNode(obj.about);
    var location = document.createElement("p");
    var locationText = document.createTextNode(obj.location);
    location.appendChild(locationText);
    var link = document.createElement("a");
    link.href = "/events/" + obj.id
    link.text = 'Go to event page'
    about.appendChild(aboutText);
    container.appendChild(title);
    container.appendChild(date);
    container.appendChild(time);
    container.appendChild(about);
    container.appendChild(location);
    container.appendChild(link);
    return container
  }
  var map = {}
  function initMap() {
    var melbourne = {lat: -37.818573, lng: 144.9569066};
    var GA = {lat: -37.818573, lng: 144.9569066};
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: melbourne
    });

    var options = {
      url: '/api/events',
      method: 'get',
    }

    var createMarkers = function(events) {
      events.forEach(function(event) {
        var position = {lat: event.lat, lng: event.long}
        var marker = new google.maps.Marker({
        position: position,
        map: map,
        title: 'Click for details',
        game_id: event.game_id,
        icon: {
          scaledSize: new google.maps.Size(40, 40),
          url: event.game.logo.url
        }
        });
        var contentObj = genInfo(event);
        var infowindow = new google.maps.InfoWindow({
        content: contentObj
        });
        marker.addListener('click', function() {
        // pop up event details window
          infowindow.open(map, marker);
          map.setCenter(marker.getPosition());
        });
        markers.push(marker)
      })
    }
    $.ajax( options ).done( createMarkers );
  }
  $select = $('.game_filter');
  $eventsContainer = $('.events-index-event-list');
  $allEvents = $eventsContainer.children();

  $select.on('change', function() {
    var $game = Number($select.val());
    markers.forEach(function(marker){
      marker.setMap(map)
      if ($game === 0) {
        marker.setMap(map)
      } else if (marker.game_id != $game) {
        marker.setMap(null)
      }
    })
  });
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdo1rTdkTMEBeUMzE51jeLdW25j5K4y9c&callback=initMap">
</script>
