// NEEDED WHEN USING FLEXBOX
.events_show *,
.events_index * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// ALL STYLING FOR EVENTS/SHOW
.events_show {
  width: 1200px;
  height: 700px;
  background-color: mistyrose;
  .events_show_top {
    display: flex;
    justify-content: space-between;
    .events_show_map {
      width: 40%;
      height: 300px;
      background-color: lightgrey;
    }
    .events_show_info {
      width: 60%;
      height: 300px;
      background-color: lightblue;
      display: flex;
      align-items: center;
      .events_show_info_key {
        width: 30%;
        padding-left: 2%;
      }
      .events_show_info_value {
        width: 70%;
      }
    }
  }
  .events_show_middle {
    width: 100%;
    height: 10%;
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    .events_show_attending_btn {
      text-align: center;
      vertical-align: middle;
      line-height: 56px; 
      width: 15%;
      height: 80%;
      background-color: gold;
      margin: 7px 0 7px 7px;
    }
    ul {
      text-align: center;
      vertical-align: middle;
      line-height: 56px; 
      width: 15%;
      height: 80%;
      background-color: gold;
      margin: 7px 7px 7px 0;
      li {
        list-style: none;
      }
    }
  }
  .events_show_about {
    padding: 7px;
    background-color: lemonchiffon;
    h3 {

    }
    p {

    }
  }
}
// ALL STYLING FOR EVENTS/INDEX
.events_index {
  width: 1200px;
  height: 700px;
  background-color: mistyrose;
  .events_index_filters {
    height: 5%;
    background-color: tomato;
  }
  .events_index_event {
    background-color: skyblue;
  }
}



