// Variables
$map-background: #bdbdbd; //grey lighten-1
$background: #263238; //blue-grey darken-4
$header: #000000; //black
$primary-text: #ffffff; //white
$error-messages: #f44336; //red
$form-inputs: #000000; //black
$form-input-background: #ffffff; //white

// Main Layout
body
{
  background: $background;
  height: 100vh;
}

// Text
.errors
{
  color: $error-messages;
}

// Header
header
{
  background: $header;
  color: $primary-text;
}

// .main-menu-container
// {
//   display: flex;
//   justify-content: space-between;
//   margin: 0 auto;
//   padding: 20px 30px;
//   width: 100%;

  .logo-container
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;

    .page-title
    {
      font-size: 50px;
    }

    .tagline
    {
      padding-bottom: 15px;
    }
  }
// }

nav
{
  background: $header;
  height: 100%;
}

.nav-wrapper
{
  display: flex;
  align-items: center;
  justify-content: space-around;

  .menu-links
  {
    font-size: 30px;
    font-weight: 900;
    margin: 0px 30px;
  }

  .menu-right
  {
    font-size: 30px;
    font-weight: 900;

    .logged-in
    {
      display: flex;

      .user-profile
      {
        margin-right: 10px;
      }
    }
  }
}

// Main Content
.main
{
  margin: 0 auto;
  min-height: 85vh;
}

// About Page
.about-container
{
  padding: 30px;

  p
  {
    color: $primary-text;
    font-size: 30px;
  }
}

// Header
footer
{
  color: $primary-text;

  .copyright
  {
    font-size: 25px;
    font-weight: 600;
  }
}

// Media Queries
@media screen and (max-width: 1200px)
{

}