// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users_new_page,
.users_edit_page {
  width: 60%;
  margin: 0 auto;
}


.users_new_page input[type=text],
.users_new_page input[type=password],
.users_edit_page input[type=text],
.users_edit_page input[type=password] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.users_new_page textarea,
.users_edit_page textarea {
  width: 100%;
  height: 150px;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 16px;
}

.users_new_page .button,
.users_edit_page .button {
  /* Green */
  background-color: #4CAF50;

  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
