<!DOCTYPE html>
<html>
  <head>
    <title>1337m337</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/events"><li>Events</li></a>
      </ul>
      <a href="/users/new"><button>Log In</button></a>
    </header>
    <%= yield %>
    <footer>
      <p>copyright 1337m337 2017</p>
    </footer>
  </body>
</html>
